@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');


:root {
    --dark: #9A482F;
    --primary: #B3773E;
    --light: #ce9c6b;
    --clr: #222327
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.logo_img {
    width: 100px;
    border-radius: 50%;
    margin-right: auto;
}

.container {
    padding: 4px 4px;
    display: flex;
    align-items: center;
    justify-content: space-around;  
    background-color: var(--dark);
    border-radius: 0 0 10px 10px;
}

.n_items {
    color: var(--light);
    text-decoration: none;
    padding-right: 20px;
}

.container ul {
    display: flex;
}

.container ul li {
    position: relative;
    padding-right: 100px;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
}

.container ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}

.container ul li a .icon {
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color: var(--clr);
}

.container ul li:hover a .icon {
    transform: translateY(-20px);
}

/* This resets the position of text which was located below the nav */

.container ul li a .text {
    position: absolute;
    letter-spacing: 0.05em;
    transform: translateY(20px);
    transition: 0.5s;
    opacity: 0;
}

.container ul li:hover a .text {
    transform: translateY(10px);
    opacity: 1;
}